root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

# shfmt options
[[shell]]
indent_style = space
indent_size = 2
binary_next_line = true # --binary-next-line
switch_case_indent = true # --case-indent

[*.ps1]
indent_style = space
indent_size = 2

[{.vimrc,*.vim}]
indent_style = space
indent_size = 2

[{*.lua,.luacheckrc}]
indent_style = space
indent_size = 2
