root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.vue]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 4

[{*.go,go.mod}]
indent_style = tab
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.sln]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2

[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

[*.ps1]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[{.vimrc,*.vim}]
indent_style = space
indent_size = 2

[*.sql]
indent_style = space
indent_size = 2
