[include]
	path = .gitconfig.user
[core]
	editor = vim -c 'set fenc=utf-8'
	autoCRLF = false
	quotepath = false
	pager = LESSCHARSET=utf-8 less -x4
	whitespace = cr-at-eol
	eol = lf
[merge]
	ff = false
[push]
	default = current
[pull]
	ff = only
[color]
	ui = auto
[alias]
	st = status
	sts = status --short
	co = checkout
	cob = checkout -b
	br = branch
	brd = branch -d
	df = diff
	ad = add
	cm = commit
	cma = commit --amend
	ft = fetch
	rb = rebase
	mg = merge
	pl = pull
	l = log
	lf = log --pretty=fuller
	sh = show
	cp = cherry-pick
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
