[include]
	path = .gitconfig.user
[core]
	editor = vim -c 'set fenc=utf-8'
	autoCRLF = false
	quotepath = false
	pager = LESSCHARSET=utf-8 less
	whitespace=cr-at-eol
[merge]
	ff = false
[push]
	default = current
[pull]
	ff = only
[color]
	ui = auto
[alias]
	st = status
	sts = status --short
	co = checkout
	cob = checkout -b
	br = branch
	brd = branch -d
	cm = commit
	cma = commit --amend
	rb = rebase
	mg = merge
	cp = cherry-pick
[diff]
	tool = vimdiff
[difftool]
	prompt = false
