[user]
	name = Koyashiro Kohaku
	email = 6698252+KoyashiroKohaku@users.noreply.github.com
[core]
	editor = code --wait
	autoCRLF = false
	quotepath = false
	pager = LESSCHARSET=utf-8 less
	editor = vim
[merge]
	tool = code --wait $MERGED
[push]
	default = current
[color]
	ui = auto
[credential]
	helper = manager
