name: Arch Linux

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-on-archlinux:
    name: Test on Arch Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: test on archlinux container
        run: |
          docker run \
            --rm \
            --volume "$PWD":/root/.dotfiles:ro \
            --entrypoint /root/.dotfiles/test/install_test.sh \
            archlinux:latest
