name: Debian

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-on-debian:
    name: Test on Debian
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: test on debian container
        run: |
          docker run \
            --rm \
            --volume "$PWD":/root/.dotfiles:ro \
            --entrypoint /root/.dotfiles/test/install_test.sh \
            debian:latest
