name: macOS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-on-macos:
    name: Test on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: test on macOS
        run: ./install.sh
