name: macOS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-on-macos:
    name: Test on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: test on macOS
        run: ./install.sh
